<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="admin_users">
  <% @admin_users.each do |admin_user| %>
    <%= render 'admin_user', admin_user: admin_user %>
    <p>
      <%= link_to "Show", admin_user_path(admin_user) %>
    </p>
  <% end %>
</div>

<%= link_to "New", new_admin_user_path %>
