<h1>New user</h1>

<!-- admin_users POST   /admin/users(.:format)  admin/users#create -->
<%= render "form", admin_user: @admin_user, submit_url: admin_users_path(@admin_user) %>

<br>

<div>
  <%= link_to "List users", admin_users_path %>
</div>
